{% set host = (ansible_facts['hostname'] | default(inventory_hostname | default('unknown_host'))) %}
{% set datacenter_map = (datacenter_map | default({'AV-PC': 'GreaterNoida'})) %}
{% set datacenter = datacenter_map.get(host, 'DefaultDC') %}

{% if (first_samba_shares|default([]))|length > 0 %}
## The below configuration is about CCE data sharing
## CCE Shared directories
{% for share in first_samba_shares %}
[{{ share.sharename | default('CCEPL_SERVER_' ~ host ~ '_' ~ datacenter) }}]
{% if share.shardirname is defined %}
  comment = CCEPL data share for {{ share.shardirname }}
{% elif share.comment is defined %}
  comment = {{ share.comment }}
{% endif %}
  path = {{ share.path|default([samba_shares_root,share.shardirname]|join('/')) }}
{% if share.browseable is defined %}
  browseable = {{ share.browseable }}
{% endif %}
{% if share.read_only is defined %}
  read only = {{ share.read_only|default('no') }}
{% endif %}
{% if share.writable is defined %}
  writable = {{ share.writable }}
{% endif %}
{% if share.guest_ok is defined %}
  guest ok = {{ share.guest_ok|default('no') }}
{% endif %}
{% if share.valid_users is defined %}
  valid users = {{ share.valid_users }}
{% endif %}
{% if share.vfs_audit is defined and share.vfs_audit %}
  # VFS Audit Configuration
  ## vfs objects = full_audit
  ## full_audit:prefix = %u|%I|%S
  # Track the 4 essential actions + openat (needed for the system to see the file)
  # Track common file operations (use SMB-level actions supported by vfs_full_audit)
  ## full_audit:success = open close write rename unlink mkdir rmdir
  ## full_audit:failure = none
  ## full_audit:facility = local5
  ## full_audit:priority = notice
{% endif %}

{% endfor %}
{% endif%}

{% if (second_samba_shares|default([]))|length > 0 %}
{% for share in second_samba_shares %}
# [{{ share.sharename | default('CCEPL_SERVER_' ~ host ~ '_' ~ datacenter) }}]
{% if share.shardirname is defined %}
#   comment = CCEPL data share for {{ share.shardirname }}
{% elif share.comment is defined %}
#   comment = {{ share.comment }}
{% endif %}
#   path = {{ share.path|default([samba_shares_root,share.shardirname]|join('/')) }}
{% if share.browseable is defined %}
#   browseable = {{ share.browseable }}
{% endif %}
{% if share.read_only is defined %}
#   read only = {{ share.read_only|default('no') }}
{% endif %}
{% if share.writable is defined %}
#   writable = {{ share.writable }}
{% endif %}
{% if share.guest_ok is defined %}
#   guest ok = {{ share.guest_ok|default('no') }}
{% endif %}
{% if share.valid_users is defined %}
#   valid users = {{ share.valid_users }}
{% endif %}

{% endfor %}
{% endif%}
